@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap');

body {
    font-family: 'Inter', sans-serif;
    display: flex;
    height: 100vh;
    margin: 0;
}

.container {
    background: #0f0f10;
    color: #fff;
    padding: 40px;
    border-radius: 15px;
    width: 700px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
}

h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

p {
    margin-bottom: 20px;
    font-size:20;
}


form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

label {
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
        user-select: none; /* Standard */
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE/Edge */
}

input {
    background: #1a1a1d;
    border: none;
    padding: 10px;
    border-radius: 5px;
    color: #fff;
    font-size: 14px;
}

textarea{
    background: #1a1a1d;
    border: none;
    padding: 10px;
    border-radius: 5px;
    color: #fff;
    font-size: 14px;
    resize: none;
}

textarea:focus {
    outline: 2px solid #5A88B8;
}

input:focus {
    outline: 2px solid #5A88B8;
}

.checkbox-container {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 12px;
}

button {
    background: #7CAADC;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
}

button:hover {
    background: #5f1af5;
}

.TableContainer {
    display: flex;
    align:center;
    justify-content: center; /* Horizontally center the button */
    align-items: center; /* Vertically center the button */
    height: auto; /* Ensure the container takes up full height */
    flex-direction: column; /* Ensure the button is on top if more elements are added */
    background: #F15B42;
    color: #fff;
    padding: 40px;
    border-radius: 15px;
    width: 950px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
    margin-left:16%;
}
#showDataBtn {
    margin-bottom: 20px; /* Add some space between the button and table */
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Hide the number input arrows in Firefox */
input[type="number"] {
    -moz-appearance: textfield;
}