{% extends 'base.html' %}

{% block head %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Laptop Recommendation</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='scripts.js') }}" defer></script> <!-- Ensure defer is included -->
{% endblock %}

{% block body %}
<div class="PageTitleImg" style="background-image: url('{{ url_for('static', filename='1-div.jpg') }}'); height: 500px; background-repeat: no-repeat; background-size: cover; position: relative;">
    <H1 class="standout" style="position: absolute; bottom: 25px; left: 30px; margin: 0;">TechMate's laptop <br>recommendation</H1>
</div>

<p style="padding-left:125px; padding-right:125px; font-size:20px;">Laptops come in various types, each designed to meet different needs, whether for school, work, or personal use. Students often prefer lightweight and budget-friendly models that offer portability and long battery life. Professionals may require high-performance laptops capable of handling demanding tasks, while creatives need powerful machines for design and editing. Gamers, on the other hand, look for laptops with strong GPUs and high refresh rates for smooth performance. With so many options available, choosing the right laptop depends on individual preferences and how it will be used.</p>
<br>
<br>
<!-- Tab navigation -->
<div class="tabs" id="tab-buttons"></div>

<!-- This will hold your dynamic tab contents, if you decide to show them later -->
<!-- More content divs if needed -->

<!-- Tab contents -->
<div class="PageTitleTab">
    <div id="default-text">
    <h3>Welcome! Please select a laptop category to learn more.</h3>
    </div>
    <div id="tab-contents"></div>
</div>


{% endblock %}

